*.settings
*.project
*.pydevproject
*.idea
*.pyc
*nohup.out
protei-dpi-autotest/resource/config/dpi/dictionary.xml
protei-dpi-autotest/resource/config/dpi/dictionary.dtd
*robot.log
http-client/lib/robotFrameWork/robotremoteserver.pyc.orig
http-client/lib/robotFrameWork/__init__.pyc.orig
http-client/lib/__init__.pyc.orig
.pydevproject.orig
pktgen-library/resident/resident.log
*.tar
protei-dpi-autotest/resource/config/dpi/components.cfg_40g
protei-dpi-autotest/resource/config/dpi/components.cfg_hw5_21.pe2
gx-server/testgx.py
protei-dpi-autotest/resource/config/dpi/components.cfg_hw_5.22
protei-dpi-autotest/resource/config/dpi/components.cfg_hw5.22_duplex
protei-dpi-autotest/reconfigurator/two_cs.cfg
protei-dpi-autotest/check.py
protei-dpi-autotest/resource/config/dpi/components.cfg_g1hw2_5.19
*.swp

protei-dpi-autotest/resource/config/dpi/components.cfg.pe2_pcap
protei-dpi-autotest/resource/config/dpi/components.cfg.pe2_pcap_10G_simplex
*.orig
dpi-library/dpi240g_hw2_v01r10t06.txt
trex-library/dpi_classification1.yaml
protei-dpi-autotest/resource/config/dpi/components.cfg.pe2_pcap_10G_duplex
protei-dpi-autotest/resource/config/dpi/external_proxy.cfg
protei-dpi-autotest/resource/config/xena/test_zero_ip.xtc
_Deparsed_XSubs.pm
*.pyo
dpi-statistics-collector-new/dpi_stat_collector/test
.git
*.log
scripts/kvm_guest_prepare/ks_tmp.cfg
protei-dpi-autotest/resource/resource-file.robot
protei-dpi-autotest/resource/config/dpi/10gtz-dpi-default/*
ks_tmp.cfg
/protei-dpi-autotest/debug.py

protei-dpi-autotest/resource/config/dpi/actual_list.txt
